{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Thank You</title>
    <link rel="shortcut icon" href="{% static 'media/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'main/xhose.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>
<div class="container-fluid thanq">
    <div class="col-md-6 col-md-offset-3">
        <h1>Дякуємо, ми прийняли вашу заявку</h1>
        <h3>Наш працівник зв'яжеться з вами найближчим часом</h3>
        <img src="{% static 'media/thanq.png' %} " class="buy-picture">
        <h1><a href="{% url 'app:xhose' %}">На головну</a></h1>
        <div class="answer">
            <small>Залишились питання ? Дзвоніть +38(066)673-22-65</small>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>
</html>